h1, h2 {
font-family: Courier New, monospace;
  font-weight: lighter;
  padding: 10px;
}

.main-container {
  background-color: #1D8A99;
  border: 5px solid green;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 100px;
  list-style: none;
  height: 800px;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.main-header {
  border: 5px solid #0BC9CD;
  background-color: #14FFF7;
  background-image: url('nateangulo.github.io/IMG_1431.JPG');
  border-radius: 5px;
    margin: auto;
  position: relative;
  text-align: center;
}


.contact-box {
font-family: Courier New, monospace;
  border: 5px solid black;
  margin: auto;
  position: relative;
  text-align: center;

}

.contact-info li {
  display: inline;
  list-style-type: none;
  border-right: 1px solid red;
  padding-right: 10px;
  margin-top: 5px;
}
#last {
border: none;
}

.profile {
    border: 5px solid black;
    margin: 20px 30px;
    position: relative;
  text-align: center;
  width: 400px;
}

.profile p {
  padding: 20px;
}

.experience {
      border: 5px solid black;
    margin: auto;
  width: 50%;
  text-align: center;
}

.title {
 font-family: Courier New, monospace;
  text-transform: uppercase;
  
}

.education {
      border: 5px solid black;
    margin: auto;
  width: 50%;
  text-align: center;
  
}

.qualities {
     border: 5px solid black;
    margin: auto;
  width: 50%;
  text-align: center;
}

a: link {
  color: green;
  text-decoration: none;
}

a: visited {
  color: green;
  text-decoration: none;
}

a:hover {
    color: hotpink;
  text-decoration: none;
}
